@media only screen and (max-width: 768px) {
	body { margin: 0; }
	header{font-size: 50%;}                                                             
	main { margin-left: 0; }
	nav { float: none; 
          width: auto; }
	nav li { display: inline-block;}
	nav ul { text-align: center; }
	nav a { border-style: none; }
	h1, h2 { font-size: 100%; }
	p { font-size: 90%; }
}

@media only screen and (max-width: 365px) {
	header{font-size: 30%;}
    h1, h2 { font-size: 50%; }
	span { font-size: 80%; } 
  	figure { display: none;}
 	nav, nav ul, nav li { padding: 0; }
 	nav li { display: block; }
    nav a { display: block; 
      	padding: 0.5em 0;
        border-bottom: 2px ridge #00005D; }
    }